/*----Nav----*/

header {
    text-align: center;
    margin: auto;
    padding: 10px;
    width: 900px;
}

nav {
    text-align: center;
    text-decoration: none;
}


/* ----Structure---- */

header {
    background-color: #E8F7EE;
}

body {
    background-color: #B8C4BB;
    font-family: "Times", "sans-serif";
}

h1,
h2,
h3 {
    font-family: "Bookman", "sans-serif";
    color: #663F46;
}

h1 {
    font-size: 46px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 25px;
}

section {
    width: 900px;
    margin: auto;
    background-color: #E8F7EE;
    border: 10px #4F7ABA;
    text-align: center;
}

p {
    font-size: 18px;
    color: #242019;
    font-family: "Courier New", "san-serif";
}

a {
    font-size: 16px;
    font-family: "Verdana", "sans-serif";
}

a:link {
    color: #663F46;
}

a:visited {
    color: #460f19;
}

a:hover {
    color: #414E44;
}

a:active {
    color: #4F7ABA;
}


/*----Sections----*/

section {
    text-align: center;
}

div {
    font-family: "Courier New", "san-serif";
    text-align: center;
}

ol {
    font-size: 18px;
    list-style-position: inside;
    text-align: center;
}


/*----Footer----*/

footer {
    text-align: center;
}


/*----Classes----*/

.align-center {
    text-align: center;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.wrapper {
    margin: auto;
    height: 150px;
}

.btn {
    display: inline-block;
    font-family: "Time", "sans-serif";
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    margin: 10px;
    padding: 6px 12px;
    border-radius: 6px;
}

.btn-default {
    color: #663F46;
    background-color: #E8F7EE;
    border: 3px solid #737981;
}

.img-circle {
    border-radius: 20%;
}