/* ----Structure---- */

body {
    background-color: #B8C4BB;
    font-family: "Times", "sans-serif";
}

h1,
h2,
h3 {
    font-family: "Bookman", "sans-serif";
    color: #663F46;
}

p {
    font-size: 14px;
    color: #E8F7EE;
    font-family: "Courier New", "san-serif";
}

a {
    font-size: 16px;
    font-family: "Verdana", "sans-serif";
}

a:link {
    color: #C9D6EA;
}

a:visited {
    color: #663F46;
}

a:hover {
    color: #414E44;
}

a:active {
    color: #4F7ABA;
}